body {
  font-family: Arial;
  background: #f4f6f8;
  padding: 20px;
}

input, button {
  padding: 8px;
  margin: 5px;
}

table {
  width: 100%;
  margin-top: 20px;
  background: white;
}

th, td {
  padding: 10px;
  text-align: center;
}
